/* global */
* {
    margin: 0;
    padding: 0;
}
a {
    text-decoration: none;
}
img {
    max-width: 100%;
}

/* utilities */
.center-content {
    text-align: center;
}
body{
    background-color: #dedede;
}

/* Header */
.header-container {
    display: flex;
    justify-content: space-between;
    border-bottom: 8px solid #febe10;
    background-color: #00723f;
    padding: 10px;
    color: white;
    align-items: center;
    text-align: center;
}

.header-container a{
    display: inline-block;
    margin-left: 10px;
    font-size: 2rem;
    color: white;

}

@media (max-width: 768px) {
    .header-container {
        flex-direction: column;
        align-items: stretch;
        padding: 20px;
    }

    .header-container a {
        margin-left: 0;
        margin-right: 10px;
        font-size: 2.5rem;
    }
}

/* general form */
.log-bg {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background: #dedede;
    flex-direction: column;
    min-height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form {
    width: 90%;
    max-width: 600px;
    padding: 20px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    margin-top: 20px;
}

.form h1 {
    text-align: center;
    padding: 0 0 10px 0;
    border-bottom: 1px solid silver;
    margin-bottom: 10px;
}

.form-normal {
    font-size: 20px;
}

.form-middle {
    font-size: 24px;
}

/* form feedback */
.question-container{
    background-color: #fff; 
    border-radius: 10px; 
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    padding: 20px; 
    margin: 20px; 
    width: 100%;
    max-width: 600px;
    box-sizing: border-box; 
    text-align: left;
    margin-left: auto;
    margin-right: auto;
    font-size: 16px;
}

@media(max-width:765px) {
    .question-container{
        font-size: 10px;
    }
}

/* rating */
.rating-box {
    padding: 20px;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly; 
    align-items: center; 
    border-radius: 5px;
}
.rating {
    display: flex;
    justify-content: center;
    unicode-bidi: bidi-override;
    direction: rtl; /* Right to left */
}
.rating > label {
    display: inline-block;
    position: relative;
    width: 30px;
    font-size: 30px;
    color: #ccc; /* Color de estrella vacía */
}
.rating > input {
    display: none;
}
.rating > label:hover,
.rating > label:hover ~ label,
.rating > input:checked ~ label {
    color: gold; /* Color de estrella llena */
}
.fa-solid {
    font-size: 30px;
    width: 30px; 
    text-align: center; 
}

/* button */
.btn{
    display: block;
    margin: 0 auto;
    margin-bottom: 10px;
    border: none;
    border-radius: 10px;
    background-color: #00723F;
    color: white;
    font-size: 0.8rem;
    cursor: pointer;
    transition: background-color 0.3s;
    padding: 10px 20px;
}

/* input */
.input-container {
    display: flex;
    position: relative;
}

.input-body{
    margin: 20px;
}

.input-general {
    margin-bottom: 15px;
}

.input-label label{
    left: 5%;
}

.input-general textarea:valid ~ label,
.input-general textarea:focus ~ label{
    color: #00723F;
    transform: translateX(-2px) translateY(-12px);
    font-size: 0.8em;
    padding: 0 5px;
    background: white;
    border-left: 1px solid #00723F;
    border-right: 1px solid #00723F;
    letter-spacing: 0.05em;
    color: black;
}

@media(max-width:765px) {
    .input-general textarea:valid ~ label,
    .input-general textarea:focus ~ label{
    color: #00723F;
    transform: translateX(12px) translateY(-6px);
    font-size: 0.8em;
    padding: 0 5px;
    background: white;
    border-left: 1px solid #00723F;
    border-right: 1px solid #00723F;
    letter-spacing: 0.05em;
    color: black;
    }
}

.input-width{
    width: 35%;
}

.input-container button{
    margin-inline: 5px;
}

.input-general select:disabled ~ label{
    color: #00723F;
    transform: translateX(10px) translateY(-7px);
    font-size: 0.65em;
    padding: 0 5px;
    background: white;
    border-left: 1px solid #00723F;
    border-right: 1px solid #00723F;
    letter-spacing: 0.05em;
}

.input-general input.has-content ~ label,
.input-general textarea.has-content ~ label,
.input-general select.has-content ~ label {
    color: #00723F;
    transform: translateX(10px) translateY(-7px);
    font-size: 0.65em;
    padding: 0 5px;
    background: white;
    border-left: 1px solid #00723F;
    border-right: 1px solid #00723F;
    letter-spacing: 0.05em;
}


.select-box label {
    display: block;
    margin-bottom: 5px;
}

.select-box input[type="radio"] {
    margin-right: 10px;
}


/* Noti */
.error {
    position: absolute;
    color: #ff3860;
    font-size: 9px;
    height: 13px;
}

.error-container {
    text-align: center;
    margin-bottom: 25px;
    color: #ff3860;
}