/* utilities */
.center-item{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
}
.center-content {
    text-align: center;
}
.head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    padding: 0px 6px;
    border-bottom: 1px solid #d6d6d8b8;
    padding-bottom: 10px;
}

.optionsLeft {
    flex: 1;
}

.optionsRight {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
}
@media (max-width: 768px) {
    .head {
        flex-direction: column;
        align-items: flex-start;
    }
    
    .optionsLeft,
    .optionsRight {
        width: 100%;
        justify-content: center;
        text-align: center;
    }
}

/* botton details */
.btnDetails{
    border: none; 
    background-color: transparent; 
    padding: 5px; 
    margin: 0; 
    width: auto; 
    height: auto; 
    display: inline-flex; 
    align-items: center; 
    justify-content: center; 
    cursor: pointer;
}

.btnDetails i{
    font-size: 1rem;
}

/* main */
.main-container {
    display: flex;
    width: 100%;
    height: 100vh;
}

.left-div {
    width: 70px;
    transition: 0.5s;
    padding-top: 25px;
}

.left-div.active {
    width: 250px;
}

.right-div {
    flex-grow: 1;
    height: 85vh;
    background: white;
    margin: 25px;
    border-radius: 8px;
    padding: 30px;
    overflow-y: auto;
}

/* Inputs */
.input-general {
    position: relative;
    width: 75%;
    margin: 20px auto;
    /* height: 45px; */
}

.input-general textarea{
    width: 100%;
    height: 100px;
    padding: 8px;
}

.input-general select{
    width: 100%;
    height: 45px;
    border-radius: 5px;
    padding: 10px;   
    text-align: center;
}

.input-general input{
    width: 100%;
    padding: 10px;
    border: 1px solid black;
    background: white;
    border-radius: 5px;
    outline: none;
    color: black;
    font-size: 0.8em;
}

.input-general label{
    position: absolute;
    left: 0;
    padding: 10px;
    pointer-events: none;
    font-size: 0.8em;
    color: gray;
    transition: 0.5s;
}

.input-general input:valid ~ label,
.input-general input:focus ~ label,
.input-general input:valid ~ select,
.input-general input:focus ~ select,
.input-general textarea:valid ~ label,
.input-general textarea:focus ~ label,
.input-general select:valid ~ label,
.input-general select:focus ~ label {
    color: #00723F;
    transform: translateX(10px) translateY(-7px);
    font-size: 0.65em;
    padding: 0 5px;
    background: white;
    border-left: 1px solid #00723F;
    border-right: 1px solid #00723F;
    letter-spacing: 0.05em;
}

/* .input-general input[type="date"],
.input-general input[type="time"] {
} */

.input-general input:valid,
.input-general input:focus,
.input-general textarea:valid,
.input-general textarea:focus,
.input-general select:valid,
.input-general select:focus {
    border: 1px solid #00723F;
}

/* Inputs mantiene animacion con disabled aplicado. */
.input-general input:disabled ~ label {
    color: #00723F;
    transform: translateX(10px) translateY(-7px);
    font-size: 0.65em;
    padding: 0 5px;
    background: white;
    border-left: 1px solid #00723F;
    border-right: 1px solid #00723F;
    letter-spacing: 0.05em;
}

.input-general input:disabled,
.input-general textarea:disabled,
.input-general select:disabled {
    border: 1px solid #00723F;
}

/* inputs phone */
@media(max-width:768px) {
    .input-general label {
        font-size: 0.8em;
    }
    .input-general input:valid ~ label,
    .input-general input:focus ~ label,
    .input-general input:valid ~ select,
    .input-general input:focus ~ select,
    .input-general textarea:valid ~ label,
    .input-general textarea:focus ~ label,
    .input-general select:valid ~ label,
    .input-general select:focus ~ label {
        color: #00723F;
        transform: translateX(10px) translateY(-7px);
        font-size: 0.6em;
        padding: 0 5px;
        background: white;
        border-left: 1px solid #00723F;
        border-right: 1px solid #00723F;
        letter-spacing: 0.07em;
    }
    .input-general input:disabled ~ label {
        color: #00723F;
        transform: translateX(10px) translateY(-7px);
        font-size: 0.6em;
        padding: 0 5px;
        background: white;
        border-left: 1px solid #00723F;
        border-right: 1px solid #00723F;
        letter-spacing: 0.07em;
    }
}

/* Notificacion */
.input-general.success input {
    border-color: #09c372;
}
.input-general.error input {
    border-color: #ff3860;
}
.error {
    color: #ff3860;
    font-size: 9px;
    height: 13px;
}
.success {
    color: #09c372;
    font-size: 15px;
    height: 13px;
    text-align: center;
}

/* footer */
footer{
    background-color: #f8f9fa;
    width: 100%;
    display: flex;
    justify-content: center;
}

.footer-box{
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}