@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    min-height: 100vh; 
    background: white;
}

/* main */
.main-container {
    display: flex;
    width: 100%;
    height: 100vh;
}

.left-div {
    width: 70px;
    transition: 0.5s;
    padding-top: 25px;
}

.left-div.active {
    width: 300px;
}

.right-div {
    flex-grow: 1;
    height: 85vh;
    background: white;
    margin: 25px;
    border-radius: 8px;
    padding: 30px;
    overflow-y: auto;
}


/* Nav bar */
.navigation{
    position: fixed;
    top: 0%;
    bottom: 0;
    width: 60px;
    box-sizing: initial;
    border-left: 5px solid #00723F;
    border-right: 10px solid #febe10;
    background: #00723F;
    transition: 0.5s;
    overflow-x:hidden;
}
.navigation.active{
    width: 250px;
}
.navigation ul{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    padding-left: 5px;
    padding-top: 75px;
}
.navigation ul li{
    position: relative;
    display: block;
    width: 100%;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}
.navigation ul li.active{
    background: #febe10;
}
.navigation ul li b:nth-child(1){
    position: absolute;
    top: -20px;
    height: 20px;
    width: 100%;
    background:#febe10;
    display: none;
}
.navigation ul li b:nth-child(1)::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-bottom-right-radius: 20px;
    background:#00723F;
}
.navigation ul li b:nth-child(2){
    position: absolute;
    bottom: -20px;
    height: 20px;
    width: 100%;
    background: #febe10;
    display: none;
}
.navigation ul li b:nth-child(2)::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-top-right-radius: 20px;
    background:#00723F;
}
.navigation ul li.active b:nth-child(1),
.navigation ul li.active b:nth-child(2){
    display: block;
}
.navigation ul li a{
    position: relative;
    display: block;
    width: 100%;
    display: flex;
    text-decoration: none;
    color: white;
}
.navigation ul li.active a{
    color: white;
}
.navigation ul li a .icon{
    position: relative;
    display: block;
    min-width: 60px;
    height: 60px;
    line-height: 70px;
    text-align: center;
}
.navigation ul li a .icon box-icon{
    font-size: 1.5em;
}
.navigation ul li a .title{
    position: relative;
    display: block;
    padding-left: 10px;
    height: 60px;
    line-height: 60px;
    white-space: normal;

}
.m-cima{
    color: white;
    font-size: 16px;
    display: none;
    position: absolute;
    top: 25px;
    left: 17px;
}
.toggle{
    position: relative;
    top: -5px;
    left: 27px;
    float: left;
    cursor: pointer;
    transition: 0.5s;
}
.toggle.active{
    left: 270px;
    top: -5px;
    left: 200px;
    cursor: pointer;
    transition: 0.5s;
}
.active a {
    color: white !important;
}
.toggle box-icon{
    position: absolute;
    color: white;
    font-size: 34px;
    display: none;
}
.toggle box-icon.open,
.toggle.active box-icon.close{
    display: block;
}
.toggle box-icon.close,
.toggle.active box-icon.open{
    display: none;
}

