/* global */
* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
}

/* button */
.btn-reg {
    display: block;
    margin: 0 auto;
    margin-bottom: 20px;
    border: none;
    border-radius: 10px;
    background-color: #00723F;
    color: white;
    font-size: 0.8rem;
    cursor: pointer;
    transition: background-color 0.3s;
    padding: 10px 20px;
}

.btn-small {
    width: 50px;
    border-radius: 25px;
}

.btn-reg:hover {
    background-color: rgb(206, 142, 0);
}

/* workshop info modal */
.workshop-info {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 15px;
}

.workshop-title {
    font-size: 1.5em;
    margin-bottom: 10px;
    color: #333;
}

.workshop-details p {
    margin: 5px 0;
    line-height: 1.4;
}

.workshop-details p strong {
    color: #555;
}